@import '../../styles/variables';

.login-page__text {
  margin-bottom: 9px;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.8px;
}

.login-page__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1.3px;
  span {
    color: $accent;
    font-weight: 400;
  }
}
