.theme-toggle-button {
  display: block;
  width: 24px;
  height: 24px;
}

.dark-mode {
  background-image: url('../../../assets/icons/to-light-mode-button.svg');
}

.light-mode {
  background-image: url('../../../assets/icons/to-dark-mode-button.svg');
}