@import './styles/variables';

.container {
  padding-inline: 15px;
}

html,body {
  height: 100vh;
  background: linear-gradient(90deg, #191536 15%, #000 100%);
  font-family: Inter, sans-serif;
  color: $color-primary;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}
