@import './styles/variables';

.container {
  padding-inline: 15px;
}

body {
  min-height: 100vh;
  background: linear-gradient(90deg, #191536 15%, #000 100%);
  font-family: Inter, sans-serif;
  color: $white;
}
